/*Base*/
body {
  font-family: "Open Sans", sans-serif;
  background: radial-gradient(
    circle,
    rgba(61, 61, 61, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-weight: 100;
}
img {
  width: 100%;
}
/*calc*/
.calculator {
  background-color: black;
  border-radius: 20px;
  height: 539px;
  width: 266px;
  margin: auto;
}
/*results*/
.results {
  height: 34%;
  position: relative;
}
.results input {
  width: 80%;
  height: 30%;
  text-align: right;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 3.5em;
  font-weight: 300;
  right: 0;
  background-color: transparent;
  color: white;
  position: absolute;
  margin: auto;
  border: 0;
  margin-right: 15px;
}
#time {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.5em;
  margin: -19px;
}
.iphone-icons {
  width: 90%;
  margin: auto;
  padding-top: 3px;
}
/*buttons*/
.buttons {
  height: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  border: none;
  height: 55px;
  width: 55px;
  font-weight: 100;
  border-radius: 80px;
  background-color: rgb(46, 46, 46);
}
.buttons div:first-child > button {
  background-color: rgb(177, 177, 177);
  color: black;
}
.buttons div > button:last-child {
  background-color: rgb(242, 153, 0);
  color: white;
}
.buttons div {
  display: flex;
  width: 95%;
  box-sizing: border-box;
  margin: -20px auto;
  justify-content: space-evenly;
}
.buttons > div:nth-child(5) button:first-child {
  flex-grow: 1.3;
  text-align: left;
  padding-left: 30px;
}
